<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Music.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Music.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FailedEntriesCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BanInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="LastEntryDateTime" serializeAs="String">
                <value>11/11/2025 13:40:25</value>
            </setting>
        </Music.Properties.Settings>
    </userSettings>
</configuration>